.colors
	.grid-row
		margin-bottom: 30px

	.item
		border-radius: 5px 5px
		box-shadow: 0 1px 5px rgba(0, 15, 10, .15)

		.dark, 
		.light
			width: 50%
			height: 50px
			float: left

			&.dark
				border-radius: 5px 0 0 0
			&.light
				border-radius: 0 5px 0 0

		.title
			border-radius: 0 0 5px 5px
			padding: 0 15px
			clear: both
			height: 50px
			line-height: 50px