doctype html
html
	include partials/head
	body 
		header
			.limiter
		main
			.limiter
				.grid-row
					.col-3
						nav navigation

					.col-9
						h1 Colors
						.colors
							.grid-row
								.col-2
									.item
										.dark.bg-bittersweet-dark
										.light.bg-bittersweet-light
										.title bittersweet
								.col-2
									.item
										.dark.bg-sunflower-dark
										.light.bg-sunflower-light
										.title sunflower
								.col-2
									.item
										.dark.bg-grass-dark
										.light.bg-grass-light
										.title grass
								.col-2
									.item
										.dark.bg-mint-dark
										.light.bg-mint-light
										.title mint

							.grid-row
								.col-3
									.item
										.dark.bg-aqua-dark
										.light.bg-aqua-light
										.title aqua
								.col-3
									.item
										.dark.bg-blue-jeans-dark
										.light.bg-blue-jeans-light
										.title blue-jeans
								.col-3
									.item
										.dark.bg-lavender-dark
										.light.bg-lavender-light
										.title lavender
								.col-3
									.item
										.dark.bg-pink-rose-dark
										.light.bg-pink-rose-light
										.title pink-rose

							.grid-row
								.col-3
									.item
										.dark.bg-light-gray-dark
										.light.bg-light-gray-light
										.title light-gray
								.col-3
									.item
										.dark.bg-medium-gray-dark
										.light.bg-medium-gray-light
										.title medium-gray
								.col-3
									.item
										.dark.bg-dark-gray-dark
										.light.bg-dark-gray-light
										.title dark-gray
								.col-3
									.item
										.dark.bg-black-dark
										.light.bg-black-light
										.title black