$color-bittersweet-light: #fc6d58
$color-bittersweet-dark: #e95546

$color-sunflower-light: #ffcd69
$color-sunflower-dark: #f6ba59

$color-grass-light: #9fd477
$color-grass-dark: #8bc163

$color-mint-light: #46cfb0
$color-mint-dark: #34bc9d

$color-aqua-light: #4fc2e5
$color-aqua-dark: #3bb0d6

$color-blue-jeans-light: #5e9de6
$color-blue-jeans-dark: #4b8ad6

$color-lavender-light: #ad93e6
$color-lavender-dark: #977bd5

$color-pink-rose-light: #ed87bd
$color-pink-rose-dark: #d870a9

$color-light-gray-light: #f5f7fa
$color-light-gray-dark: #e6e9ed

$color-medium-gray-light: #ccd1d8
$color-medium-gray-dark: #aab2bc

$color-dark-gray-light: #656d77
$color-dark-gray-dark: #434a53

$color-black-light: #292C31
$color-black-dark: #1F2226

.color-bittersweet-light
	color: $color-bittersweet-light

.color-bittersweet-dark
	color: $color-bittersweet-dark

.color-sunflower-light
	color: $color-sunflower-light

.color-sunflower-dark
	color: $color-sunflower-dark

.color-grass-light
	color: $color-grass-light

.color-grass-dark
	color: $color-grass-dark

.color-mint-light
	color: $color-mint-light

.color-mint-dark
	color: $color-mint-dark

.color-aqua-light
	color: $color-aqua-light

.color-aqua-dark
	color: $color-aqua-dark

.color-blue-jeans-light
	color: $color-blue-jeans-light

.color-blue-jeans-dark
	color: $color-blue-jeans-dark

.color-lavender-light
	color: $color-lavender-light

.color-lavender-dark
	color: $color-lavender-dark

.color-pink-rose-light
	color: $color-pink-rose-light

.color-pink-rose-dark
	color: $color-pink-rose-dark

.color-light-gray-light
	color: $color-light-gray-light

.color-light-gray-dark
	color: $color-light-gray-dark

.color-medium-gray-light
	color: $color-medium-gray-light

.color-medium-gray-dark
	color: $color-medium-gray-dark

.color-dark-gray-light
	color: $color-dark-gray-light

.color-dark-gray-dark
	color: $color-dark-gray-dark

.color-black-light
	color: $color-black-light

.color-black-dark
	color: $color-black-dark



.bg-bittersweet-light
	background-color: $color-bittersweet-light

.bg-bittersweet-dark
	background-color: $color-bittersweet-dark

.bg-sunflower-light
	background-color: $color-sunflower-light

.bg-sunflower-dark
	background-color: $color-sunflower-dark

.bg-grass-light
	background-color: $color-grass-light

.bg-grass-dark
	background-color: $color-grass-dark

.bg-mint-light
	background-color: $color-mint-light

.bg-mint-dark
	background-color: $color-mint-dark

.bg-aqua-light
	background-color: $color-aqua-light

.bg-aqua-dark
	background-color: $color-aqua-dark

.bg-blue-jeans-light
	background-color: $color-blue-jeans-light

.bg-blue-jeans-dark
	background-color: $color-blue-jeans-dark

.bg-lavender-light
	background-color: $color-lavender-light

.bg-lavender-dark
	background-color: $color-lavender-dark

.bg-pink-rose-light
	background-color: $color-pink-rose-light

.bg-pink-rose-dark
	background-color: $color-pink-rose-dark

.bg-light-gray-light
	background-color: $color-light-gray-light

.bg-light-gray-dark
	background-color: $color-light-gray-dark

.bg-medium-gray-light
	background-color: $color-medium-gray-light

.bg-medium-gray-dark
	background-color: $color-medium-gray-dark

.bg-dark-gray-light
	background-color: $color-dark-gray-light

.bg-dark-gray-dark
	background-color: $color-dark-gray-dark

.bg-black-light
	background-color: $color-black-light

.bg-black-dark
	background-color: $color-black-dark
